
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: #39a6b2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
header h1 {
    font-weight: bold;
    font-size: 36px;
    padding: 10px 15px;
    margin: 0;
}
header a:hover {
    background: #fce138;
    color: #39a6b2;
    border-radius: 15px;
}
header a { 
    text-decoration: none;
    color: #fce138;
}
header nav {
    margin: 7px;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}
figure {
    background-image: url("./assets/images/bg1.jpg");
    height: 200px;
    background-position-x: center;
    background-position-y: 30%;
    color: white;
    text-align: right;
}

.header2 {
    display: inline-block;
    font-size: 50px;
    padding: 15px;
    border-right: solid 3px blue;
    width: 25%;
    text-align: center;
}
.right-box {
    display: inline-block;
    font-size: larger;
    padding: 15px;
    width: 70%;
    text-align: center;
}


/* FUTURE BG1 IMG SRC URL https://i.pinimg.com/originals/04/2d/47/042d478e2498ea6500bc99536dc35a1d.jpg /* 