
* {
    margin: 0;
    padding: 0;
}
header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: #39a6b2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
header h1 {
    font-weight: bold;
    font-size: 36px;
    padding: 10px 15px;
    margin: 0;
}
header a:hover {
    background: #fce138;
    color: #39a6b2;
    border-radius: 15px;
}
header a { 
    text-decoration: none;
    color: #fce138;
}
header nav {
    margin: 7px;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}
.only-best {
    background-image: url("./assets/images/bg1.jpg");
    height: 200px;
    background-position-x: center;
    background-position-y: 30%;
    color: white;
    text-align: right;
}
.about-me-div {
    width: 100%;
}
.about-me {
    box-sizing: border-box;
    display: inline-block;
    font-size: 50px;
    padding: 10px;
    margin: 10px;
    border-right: solid 3px blue;
    width: 15%; 
    text-align: center;
}
.right-text {
    display: inline-block;
    font-size: larger;
    padding: 15px;
    width: 70%;
    height: 200px;
    text-align: center;
}
.main-sect {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}
.work {
    padding: 10px;
    margin: 10px;
    font-size: 50px;
    text-align: center;
    border-right: solid 3px blue;
}
.work-thumbs {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.img-run-buddy {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


}
.img-run-buddy img {
    align-items: center;
    object-fit: cover;
    height: 500px;
    width: 900px;
    border: 3px solid teal;

}
.img-list img {
    align-items: center;
    object-fit: cover;
    height: 250px;
    width: 442px;
    margin: 5px;
    border: 3px solid teal;



}

footer {
    position: fixed;
    bottom: 0;
    height: 40px;
    margin-top: 40px;
}

/* FUTURE BG1 IMG SRC URL https://i.pinimg.com/originals/04/2d/47/042d478e2498ea6500bc99536dc35a1d.jpg /* 
/*ADD BREAKPOINTS FOR MOBILE*/